Pygments==2.7.2
SecretStorage==2.3.1
aiohttp==3.7.3
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
boto3==1.16.25
botocore==1.19.25
certifi==2020.11.8
chardet==3.0.4
cryptography==2.1.4
decorator==4.4.2
fancycompleter==0.9.1
idna==2.6
iniconfig==1.1.1
ipdb==0.13.4
ipython-genutils==0.2.0
ipython==7.19.0
jedi==0.17.2
jmespath==0.10.0
keyring==10.6.0
keyrings.alt==3.0
multidict==5.0.2
packaging==20.7
parso==0.7.1
pathtools==0.1.2
pdbpp==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
pyrepl==0.9.0
pytest-asyncio==0.14.0
pytest==6.1.2
python-dateutil==2.8.1
pyxdg==0.26
requests==2.25.0
s3transfer==0.3.3
six==1.11.0
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
watchdog==0.10.4
wcwidth==0.2.5
wmctrl==0.3
yarl==1.6.3